.login-form-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container-custom {
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    width: 50%;
}
.table-container {
    margin-top: 30px;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 10px;
}