body{
    background-color: #e7e7e7;
}

/* ========= GENERAL ========= */
.under-development-container {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 200px;
}
.under-development-container ion-icon {
    font-size: 80px;
    color: red;
}
.under-development-container h1 {
    margin: 0;
    font-weight: 600;
}
.under-development-container p {
    margin: 0;
    font-size: 22px;
}

/* ========= LOGIN ========= */
.login-page-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('./images/login-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    padding: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    width: 50%;
    background-color: #fff;
}
.login-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
.in3-btn {
    background-color: #266937;
    border: 1px solid #266937 !important;
}
.in3-btn:hover {
    background-color: #255c33;
    border: 1px solid #255c33 !important;
}

/* ========= FOOTER ========= */
.page-footer {
    max-width: 100%;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #266937 !important;
}
.page-footer p {
    margin: 0;
    text-align: center;
}

/* ========= NAVBR ========= */
.navbar {
    background-color: #266937 !important;
}
.navbar-brand {
    color: #fff;
}
.navbar-brand img {
    width: 15%;
}
.nav-link {
    color: #fff;
}
.dropdown-item {
    font-size: 15px;
}
.dropdown-item ion-icon {
    font-size: 12px !important;
    margin-right: 10px !important;
}
.profile-section li {
    list-style-type: none !important;
}
/* .active {
    color: #777 !important;
} */

/* ========= DASHBOARD ========= */
.dashboard-container {
    padding: 20px;
}
.dashboard-welcome-tab {
    width: fit-content;
    height: auto;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-welcome-tab h1 {
    font-size: 16px;
    margin: 0;
}
.dashboard-btn-container {
    margin-top: 30px;
}
.dashboard-btn-1-form {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.dashboard-btn-1-form button {
    width: fit-content;
    border: 1px solid #28961a;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}
.dashboard-btn-1-form button:hover {
    background-color: #28961a;
    transition: 0.3s all ease-in-out;
    color: #fff;
}

/* ========= POLICIES & CONTROLS ========= */
.screen-name-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.screen-name-container h1 {
    font-size: 30px;
    font-weight: 700;
}
.screen-name-container h2 {
    font-size: 16px;
}
.screen-name-container a {
    font-size: 16px;
    text-decoration: none;
    color: #777;
}
.screen-name-container a:hover {
    font-size: 16px;
    text-decoration: none;
    color: #266937;
    transition: 0.3s all ease-in-out;
}
.floating-search-input {
    width: 50%;
    margin-right: 20px;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}
.center-aligned-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.policies-control-container {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
.policies-control-container h3 {
    font-weight: 700;
    margin: 0;
}
.policies-control-container p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}
.main-controls-section {
    margin-top: 30px;
}
.accordion-button {
    font-weight: 600;
}
.accordion-body p {
    font-size: 16px !important;
    font-weight: 400;
}

.add-control-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.add-control-main-form {
    width: 50%;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
}

/* ========= POLICY DETAILS ========= */
.policy-det-heading-section h1 {
    font-weight: 600;
}
.details-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.details-container h2 {
    font-size: 24px;
}
.details-container p {
    font-size: 14px;
}
.details-container li {
    font-size: 14px;
}
.details-activity-container {
    background-color: #fff;
    padding: 20px;
    width: 50%;
    margin-top: 10px;
    border-radius: 20px;
}
.details-upload-doc-container {
    margin-top: 20px;   
}
.active-internal-nav {
    color: #000 !important;
}
.nav-link-internal {
    color: #777;
}
.clause-container {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    padding: 20px;
}
.clause-container p {
    font-weight: 700 !important;
}
.section-divider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.WYSIWYG-editor-container {
    /* width: 50% !important; */
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    flex: 1;
}
.WYSIWYG-editor textarea {
    width: 100% !important;
    height: 100px;
}
.document-container {
    flex: 1;
    background-color: #fff !important;
    margin-top: 10px;
    border-radius: 10px;    
    padding: 20px;
}
.document-container {
    font-weight: 700 !important;
}
.document-upload-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.doc-edit-btn {
    background-color: #00000000;
    border: 0;
}
.doc-edit-btn ion-icon {
    font-size: 18px;
}
.update-document-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* ========= SIM ========= */
.sim-topic-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.sim-table-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
}
.incident-details-container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.incident-details-container h6 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
}
.comment-section-container {
    background-color: #fff;
    flex: 1;
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}
.heading-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}
.comment-tab-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.comment-tab {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}
.response-tab-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.response-tab {
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}
.sim-topic-container-details {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.sim-topic-container-details p {
    margin: 0;
    font-weight: 700;
}
.sim-topic-container-details h5 {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
}
.sim-th th {
    font-size: 12px;
}
.sim-th td {
    font-size: 12px !important;
}
.notes-section {
    flex: 1;
    /* background-color: #fff; */
    border-radius: 10px;
    padding: 20px;
}
.notes-section p {
    font-size: 22px;    
    font-weight: 600;
}
.heading-row {
    display: flex;
    justify-content: space-between;
}
.note-container {
    border-bottom: 1px solid #ababab;
    padding: 10px;
    margin-top: 15px !important;
}
.note-owner {
    font-size: 14px !important;
    margin: 0;
}
.main-note {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 0;
    margin-top: 5px;
    font-size: 14px !important;
}
.button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}
.button-row button {
    background-color: #00000000;
    border: 0;
    font-size: 22px;
}
.button-row button:hover {
    color: #28961a;
    transition: 0.3s all ease-in-out;
}

/* ========= MRB ========= */
.mrb-tab-container {
    margin-top: 20px !important;
    width: 100%;
    border: 1px solid #e7e7e7 !important;
}
.mrb-tab-container:hover {
    border-color: #28961a !important;
    transition: 0.3s all ease-in-out !important;
    border-radius: 10px;
}
.mrb-tab {
    text-decoration: none !important;
    color: #000;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mrb-tab p {
    margin: 0;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    flex: 1;
}
.mrb-tab ion-icon {
    margin-right: 20px;
}
.form-container {
    background-color: #fff;
    flex: 1;
    margin: 10px;
    padding: 40px;
    border-radius: 10px;
}
.form-column {
    flex: 1;
}
.form-container-heading {
    font-weight: 600;
}
.mrb-section-1 {
display: flex;
justify-content: space-around;
align-items: center;
}
.mrb-section-1:hover {
    background-color: #e7e7e7;
    transition: 0.3s all ease-in-out;
}
.mrb-section-2:hover {
    background-color: #e7e7e7;
    transition: 0.3s all ease-in-out;
}
.mrb-section-3:hover {
    background-color: #e7e7e7;
    transition: 0.3s all ease-in-out;
}
.mrb-section-1 p {
    flex: 1;
}
.mrb-section-1 button {
    background-color: #00000000;
    border: 0;
    font-size: 18px;
}
.mrb-section-1 button:hover {
    color: #28961a;
    transition: 0.3s all ease-in-out;
}
.mrb-section-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mrb-section-2 p {
    flex: 1;
}
.mrb-section-2 button {
    background-color: #00000000;
    border: 0;
    font-size: 18px;
}
.mrb-section-2 button:hover {
    color: #28961a;
    transition: 0.3s all ease-in-out;
}
.mrb-section-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mrb-section-3 p {
    flex: 1;
}
.mrb-section-3 button {
    background-color: #00000000;
    border: 0;
    font-size: 18px;
}
.mrb-section-3 button:hover {
    color: #28961a;
    transition: 0.3s all ease-in-out;
}

/* =============== ACTIVITY DETAILS =============== */
.text-editor-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}
.data-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* =============== USER SETUP =============== */
.table-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

/* =============== RISKS TREATMENT =============== */
.risk-treatment-divider {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.heatmap-container {
    margin: 20px 0;
    
}
.heatmap-table {
    width: 100%;
    border-collapse: collapse;
    
}
.heatmap-table th, .heatmap-table td {
    padding: 0;
    font-weight: 400 !important;
    font-size: 14px;    
    text-align: center !important;
    vertical-align: middle !important;
}
.heatmap-table td {
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
}
.heatmap-table th {
    background-color: #f8f9fa;
}
.risk-details-headers th {
    font-weight: 600;
    font-size: 12px;
}
.risk-details-content td {
    font-size: 12px;
}

@media only screen and (max-width: 768px) {
    .dashboard-welcome-tab {
        display: none;
    }
    .screen-name-container{ 
        margin-top: 20px;
    }
    .screen-name-container h1 {
        font-size: 20px;
        text-align: center;
    }
    .screen-name-container h2 {
        font-size: 12px;
        text-align: center;
    }
    .screen-name-container a {
        font-size: 12px;
    }
    .center-aligned-container {
        margin-top: 20px;
    }
    
  }